@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
body {
  font-family: 'Manrope', sans-serif;
}

.left {
  background: #2fbf71;
}

.dostow {
  font-size: 1.5rem !important;
  font-weight: bolder;
}

.banner-text {
  font-size: 1.5rem !important;
  font-weight: bolder;
}

form {
  margin: 0 auto;
  padding: 1.5rem;
}

label {
  color: #111111 !important;
}

.custom-file-control, .form-control, .is-focused .custom-file-control, .is-focused .form-control {
  background-image: linear-gradient(0deg, #2fbf71 2px, rgba(0, 150, 136, 0) 0), linear-gradient(0deg, rgba(0, 0, 0, 0.26) 1px, transparent 0) !important;
}

.custom-file-control:invalid, .form-control:invalid {
  background-image: linear-gradient(0deg, #d50000 2px, rgba(213, 0, 0, 0) 0), linear-gradient(0deg, rgba(0, 0, 0, 0.26) 1px, transparent 0) !important;
}

/* Button style */
button {
  border: none;
  border-radius: 0.13em;
  padding: 4px 15px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  background-color: #2fbf71;
  line-height: 1.5rem;
}

.home-container {
  position: relative;
  z-index: 1;
}

.login-btn {
  background-position: center;
  -webkit-transition: background 0.8s;
  transition: background 0.8s;
}

.login-btn:hover {
  background: #2fbf71 radial-gradient(circle, transparent 1%, #2fbf71 1%) center/15000%;
}

.login-btn:active {
  background-color: #1daa5c;
  background-size: 100%;
  -webkit-transition: background 0s;
  transition: background 0s;
}

.button-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-group {
  margin-bottom: 0;
}

.signup-link {
  font-size: 0.8rem;
}

/* Navbar */
.navbar {
  background: #2fbf71;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.inner-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.stack {
  width: 12%;
  margin-right: 0.7rem;
}

.user {
  width: 20%;
  height: 15%;
  margin-top: 0px;
}

.logout-btn {
  padding: .2rem 0.9rem;
  font-size: 0.6rem;
}

.navbar-brand {
  font-weight: 300;
  font-size: 1rem;
}

/* Information Banner */
.info-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #677e73;
  color: white;
  padding: 1rem 1rem;
  font-size: 0.7rem;
}

.info-banner h1 {
  font-size: 0.9rem;
}

.banner-img {
  width: 28%;
}

.progress-bar {
  width: 50%;
  background: black;
}

.progress {
  background: white;
}

.arrow-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.arrow {
  height: 30%;
  margin-right: 0.2rem;
}

/* Email Banner */
.email-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 4rem;
}

.email-banner h1 {
  font-size: 1rem;
}

.add-button {
  background: #2fbf71;
  width: 2.5rem !important;
  min-width: 2.5rem !important;
  height: 2.5rem !important;
}

/* Drawer */
.bmd-layout-container {
  height: 100vh;
}

.bmd-drawer-f-r > .bmd-layout-drawer {
  width: 80%;
  -webkit-transform: translateX(750px);
          transform: translateX(750px);
}

.close {
  width: 4%;
}

.new-email-header {
  margin: 2rem 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.new-email-header h1 {
  font-size: 1.2rem;
}

.new-email-form {
  padding: 2rem;
  width: 80%;
  float: left;
  margin-left: 2rem;
}

/* Adresses */
.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.options a {
  margin-left: 0.7rem;
  cursor: pointer;
}

.account {
  padding: 0.4rem 0.4rem;
  border-top: 1px solid #d3cfcf;
  border-bottom: 1px solid #d3cfcf;
  font-size: 0.7rem;
}

.account h1 {
  font-size: 1rem;
}

.email {
  margin-left: 0.8rem;
}

.bmd-layout-backdrop {
  display: none;
}

.alert-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
}

.alert-container .alert {
  width: 100%;
  position: absolute;
  -webkit-transform: translate(0%);
          transform: translate(0%);
  font-size: 0.6rem;
  text-align: center;
  z-index: 5;
  -webkit-transition-delay: 3s;
          transition-delay: 3s;
}

@media (min-width: 768px) {
  .h-md-100 {
    height: 100vh;
  }
  form {
    width: 50%;
    padding: 0;
  }
  button {
    padding: 8px 25px;
  }
  .form-group {
    margin-bottom: 1rem;
  }
  .dostow {
    font-size: 2.5rem !important;
  }
  .navbar-brand {
    font-weight: 300;
    font-size: 1.3rem;
  }
  .info-banner {
    padding: 2rem 4rem;
  }
  .info-banner h1 {
    font-size: 2rem;
  }
  .banner-text {
    font-size: 2rem !important;
  }
  .user {
    width: 25%;
    height: 10%;
  }
  .logout-btn {
    padding: .46875rem 1rem;
    font-size: 0.8rem;
  }
  .email-banner {
    padding: 2rem 4rem;
  }
  .add-button {
    width: 3.5rem !important;
    min-width: 3.5rem !important;
    height: 3.5rem !important;
  }
  .bmd-drawer-f-r > .bmd-layout-drawer {
    width: 50%;
  }
  .new-email-form {
    padding: 0;
    width: 80%;
  }
  .new-email-header h1 {
    font-size: 2.5rem;
  }
  .banner-img {
    width: 50%;
  }
  .arrow {
    height: 40%;
    margin-right: 1rem;
  }
  .email-banner h1 {
    font-size: 2rem;
  }
  .account {
    font-size: 1rem;
    padding: 1rem 1rem;
  }
  .account h1 {
    font-size: 2rem;
  }
  .alert-container .alert {
    width: 50%;
    -webkit-transform: translate(50%);
            transform: translate(50%);
    font-size: 0.8rem;
  }
}
/*# sourceMappingURL=App.css.map */